<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Producto Rechazado</title></head>
<body style="font-family: Arial, sans-serif; color: #333;">
<h2>Hola, <span th:text="${userName}"></span></h2>
<p>Tu producto <strong th:text="${productName}"></strong> ha sido <strong style="color: red;"
                                                                          th:text="${status}"></strong>.</p>
<p>Puedes editarlo y volver a enviarlo a revisión.</p>
<p>Gracias por usar <strong>eCommerce GT</strong>.</p>
</body>
</html>