<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Producto Aprobado</title></head>
<body style="font-family: Arial, sans-serif; color: #333;">
<h2>¡Felicidades, <span th:text="${userName}"></span>!</h2>
<p>Tu producto <strong th:text="${productName}"></strong> ha sido <strong style="color: green;"
                                                                          th:text="${status}"></strong>.</p>
<p>Ya está disponible en la tienda para que los clientes lo compren.</p>
<p>Gracias por usar <strong>eCommerce GT</strong>.</p>
</body>
</html>