<header class="header">
    <div class="logo">eCommerce GT</div>
    <nav class="menu">
        <ul class="menu-list">
            <li>
                <a routerLink="#" class="menu-item">Productos</a>
                <ul class="submenu">
                    <li><a routerLink="#">Ver todos los productos</a></li>
                    <li><a routerLink="#">Venta de artículos</a></li>
                </ul>
            </li>

            <li>
                <a routerLink="#" class="menu-item">Carrito</a>
                <ul class="submenu">
                    <li><a routerLink="#">Carrito de compras</a></li>
                    <li><a routerLink="#">Seguimiento de pedidos</a></li>
                </ul>
            </li>

            <li>
                <a routerLink="#" class="menu-item">Opiniones</a>
                <ul class="submenu">
                    <li><a routerLink="#">Rating y comentarios</a></li>
                </ul>
            </li>

            <li><a routerLink="/#" class="menu-item">Editar información</a></li>
            <li><a routerLink="/" class="menu-item">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Productos disponibles</h1>

    <div class="featured-products">
        <div class="product-card" *ngFor="let product of products">
            <img [src]="product.image || 'https://placehold.co/150x150'" alt="{{product.name}}">

            <h3>{{ product.name }}</h3>
            <p>Categoría: {{product.category.categoryName}}</p>
            <p>Q {{ product.price }}</p>
            <button>Comprar</button>
        </div>
    </div>

    <div *ngIf="products.length === 0" class="no-products">
        <p>No hay productos disponibles por el momento.</p>
    </div>
</main>