<div class="employee-list-container">
    <h2>Lista de Empleados</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>DPI</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Estado</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <ng-container *ngIf="user.roleName !== 'ADMINISTRADOR'">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.dpi }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.status ? 'Activo' : 'Inactivo' }}</td>
                    <td>{{ user.roleName }}</td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="editUser(user)">Editar</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteUser(user)">Eliminar</button>
                    </td>
                </ng-container>
            </tr>

        </tbody>
    </table>

    <p *ngIf="users.length === 0">No hay empleados registrados.</p>
</div>