<header class="header">
  <div class="logo"> eCommerce GT</div>
  <nav class="menu">
    <a routerLink="/login" class="menu-item">Iniciar Sesión</a>
    <a routerLink="/register" class="menu-item">Registrarse</a>
  </nav>
</header>

<main class="main" *ngIf="currentRoute === ''">
  <h1>Bienvenido a eCommerce GT</h1>
  <p>Descubre los mejores artículos y aprovecha nuestras ofertas.</p>

  <div class="featured-proucts">
    <div class="product-card">
      <img src="https://via.placeholder.com/150" alt="Producto 1">
      <h3>Producto 1</h3>
      <p>Q 15.99</p>
      <button>Comprar</button>
    </div>
  </div>
  <div class="product-card">
    <img src="https://via.placeholder.com/150" alt="Producto 2">
    <h3>Producto 2</h3>
    <p>Q22.50</p>
    <button>Comprar</button>
  </div>

  <div class="product-card">
    <img src="https://via.placeholder.com/150" alt="Producto 3">
    <h3>Producto 3</h3>
    <p>Q9.99</p>
    <button>Comprar</button>
  </div>
</main>

<router-outlet *ngIf="currentRoute !== '/'"></router-outlet>